<h1>Libros</h1>

<%= link_to 'Agregar nuevo', new_book_path %>

<div id="books">
  <table>
    <thead>
      <tr>
        <th class="sort" data-sort="author">Autor</th>
        <th class="sort" data-sort="title">Título</th>
        <th class="sort" data-sort="year">Año de publicación</th>
        <th colspan="3">
          <input type="text" class="search" placeholder="Buscar"/>
        </th>
      </tr>
    </thead>
    <tbody class="list">
      <% @books.each do |book| %>
        <tr>
          <td class="author"><%= book.author %></td>
          <td class="title"><%= book.title %></td>
          <td class="year"><%= book.year %></td>
          <td><%= link_to 'Detalles', book %></td>
          <td><%= link_to 'Editar', edit_book_path(book) %></td>
          <td><%= link_to 'Eliminar', book, confirm: '¿Confirmás que querés eliminarlo?', method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

