<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Year:</b>
  <%= @book.year %>
</p>

<p>
  <b>Status:</b>
  <%= @book.status %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'escucha'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comentarios provistos por<span class="logo-disqus">Disqus</span></a>
